@layer tailwind {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

/* Base */
.animated-link {
  position: relative;
}

.animated-link:before {
  content: "";
  position: absolute;
  width: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: white;
  transition: all 0.15s ease-in-out;
}

.animated-link:hover:before {
  width: 100%;
}

/* /dashboard */
@media (min-width: 1200px) {
  .mantine-Navbar-root {
    z-index: 0 !important; /* allow route progress bar to show above Navbar on lg+ breakpoints */
  }
}

nav .active-link {
  @apply bg-gray-600 text-gray-100 hover:bg-gray-600;
}

nav .active-link svg {
  @apply text-gray-100;
}

.tremor-Card-root {
  @apply p-5;
}

.tremor-ProgressBar-progressBarWrapper {
  height: 1.5rem;
  border-radius: 0;
}

.tremor-ProgressBar-progressBar {
  border-radius: 0;
}

.required-label::after {
  content: "*";
  color: #fa5252;
}
